/checkpoint/
.vscode
/dataset/
/Volumes/
/TuckER/data/nyt10/
*.ipynb_checkpoints
__pycache__
.idea
.ipynb_checkpoints


/.git/objects/pack/tmp_pack_ED5Yfh
/.git/objects/pack/tmp_pack_gyM9cU
/.git/objects/pack/tmp_pack_2jm7Wx
/.git/objects/pack/tmp_pack_ogIr4G
/.git/objects/pack/tmp_pack_86MmTT
/.git/objects/pack/tmp_pack_4spCbh
/.git/objects/31/c0afc01cbc3b06ae3f0f2724cca1aa78acf238
/.git/objects/b5/d7ff04e9899a5e150072aba109b19577278937
/.git/objects/c5/tmp_obj_wSWlyF
/.git/objects/92/097e642e17c71836c087705aafbe0bb01be743
/.git/objects/95/2d8fb804bf959574ebf5a0b3cc9f5fe72a4f69
/playground.ipynb
/TuckER/data/FB60K-NYT10/raw_data/nyt10_test_raw.json
/TuckER/data/FB60K-NYT10/raw_data/nyt10_train_raw.json
/TuckER/output/Wiki27K.tucker.256.test.link_prediction.txt
/TuckER/output/Wiki27K.tucker.256.kge_neg.txt
/TuckER/output/nyt10.tucker.256.test.link_prediction.txt
/TuckER/output/nyt10.tucker.256.kge_neg.txt
/TuckER/output/FB60K-NYT10.tucker.256.test.link_prediction.txt
/TuckER/output/FB60K-NYT10.tucker.256.kge_neg.txt
/dataset/FB15K-237-N/FB15K-237-N.tucker.256.kge_neg.txt
/dataset/FB15K-237-N/train_neg_rand.txt
/dataset/FB15K-237-N/train_neg_kge_all.txt
/dataset/FB15K-237-N/link_prediction_head.txt
/dataset/FB15K-237-N/link_prediction_tail.txt
/dataset/FB15K-237-N/FB15K-237-N.tucker.256.test.link_prediction.txt
/dataset/nyt10-new/nyt10-new.tucker.256.kge_neg.txt
/dataset/nyt10-new/nyt10-new.tucker.256.test.link_prediction.txt
/dataset/nyt10-new/train_neg_rand.txt
/dataset/nyt10-new/train_neg_kge_all.txt
/dataset/FB60K-NYT10/FB60K-NYT10.tucker.256.kge_neg.txt
/dataset/FB60K-NYT10/FB60K-NYT10.tucker.256.test.link_prediction.txt
/dataset/FB60K-NYT10/train_neg_rand.txt
/dataset/FB60K-NYT10/train_neg_kge_all.txt
/dataset/FB60K-NYT10/link_prediction_head.txt
/dataset/FB60K-NYT10/link_prediction_tail.txt
/checkpoint/nyt10/roberta-large/search/roberta-large_template_1.1.1.1.1.1_seed_234/epoch_0_dev_96.0806_test_95.9983.ckpt
/Volumes/Aux/Downloaded/Data-Upload/FB60K+NYT10/text/test.json
/Volumes/Aux/Downloaded/Data-Upload/FB60K+NYT10/text/train.json
/Volumes/Aux/Downloaded/Data-Upload/FB60K+NYT10/text/word_vec.json
/Volumes/Aux/Downloaded/Data-Upload/UMLS+PubMed/kg/graph.txt
/Volumes/Aux/Downloaded/Data-Upload/UMLS+PubMed/kg/train.txt
/Volumes/Aux/Downloaded/Data-Upload/UMLS+PubMed/text/test_5sent.json
/Volumes/Aux/Downloaded/Data-Upload/UMLS+PubMed/text/train.json
/Volumes/Aux/Downloaded/Data-Upload/UMLS+PubMed/text/word_vec.json
/origin_data.zip
/fb_nyt_origin_data/train_sort.txt
/fb_nyt_origin_data/text/vec.txt
/fb_nyt_origin_data/text/train.txt

/prompt_mining/prompt_opti/pre-trained_language_models
/prompt_mining/prompt_opti/feature_dir
/prompt_mining/prompt_opti/weights_out
/prompt_mining/prompt_opti/output
